<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RTFFontMappingTable:1</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhA5OU011dGFibGVBcnJheQCEhAdOU0FycmF5AISE
	CE5TT2JqZWN0AIWEAWkRkoSEhBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGljdGlv
	bmFyeQCVlgOShISECE5TU3RyaW5nAZWEASsGZmFtaWx5hpKEmpoNTHVjaWRhIEdyYW5k
	ZYaShJqaB3J0ZkZvbnSGkoSamhPigJps4oCaciDigJPCvuKAmcKphpKEmpoEZmFjZYaS
	hJqaB1JlZ3VsYXKGhpKEl5YDkpmSm5KckoSamhrigJps4oCaciDigJPCvuKAmcKpIEJh
	bHRpY4aSnpKfhpKEl5YDkpmSm5KckoSamhbigJps4oCaciDigJPCvuKAmcKpIENFhpKe
	kp+GkoSXlgOSmZKbkpyShJqaF+KAmmzigJpyIOKAk8K+4oCZwqkgQ3lyhpKekp+GkoSX
	lgOSmZKbkpyShJqaGeKAmmzigJpyIOKAk8K+4oCZwqkgR3JlZWuGkp6Sn4aShJeWA5KZ
	kpuSnJKEmpoX4oCabOKAmnIg4oCTwr7igJnCqSBUdXKGkp6Sn4aShJeWA5KZkpuSnJKE
	mpob4oCabOKAmnIg4oCTwr7igJnCqSBXZXN0ZXJuhpKekp+GkoSXlgOSmZKbkpyShJqa
	FeKAmmzigJpyIMaSU8aSVsaSYsaSToaSnpKfhpKEl5YDkpmSm5KckoSamhzigJps4oCa
	ciDGklPGklbGkmLGkk4gQmFsdGljhpKekp+GkoSXlgOSmZKbkpyShJqaGOKAmmzigJpy
	IMaSU8aSVsaSYsaSTiBDRYaSnpKfhpKEl5YDkpmSm5KckoSamhnigJps4oCaciDGklPG
	klbGkmLGkk4gQ3lyhpKekp+GkoSXlgOSmZKbkpyShJqaG+KAmmzigJpyIMaSU8aSVsaS
	YsaSTiBHcmVla4aSnpKfhpKEl5YDkpmSm5KckoSamhnigJps4oCaciDGklPGklbGkmLG
	kk4gVHVyhpKekp+GkoSXlgOSmZKbkpyShJqaHeKAmmzigJpyIMaSU8aSVsaSYsaSTiBX
	ZXN0ZXJuhpKekp+GkoSXlgOSmZKbkpyShJqaB0NhbGlicmmGkp6Sn4aShJeWA5KZkpuS
	nJKEmpoUQ2FsaWJyaSAoVmlldG5hbWVzZSmGkp6Sn4aShJeWA5KZkpuSnJKEmpoOQ2Fs
	aWJyaSBCYWx0aWOGkp6Sn4aG
	</data>
</dict>
</plist>
